<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dacnce">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".DanceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q"
        android:hardwareAccelerated="true">
        <activity android:name=".activity.ShowMovActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ShowPicActivity" />
        <activity
            android:name=".activity.PersonDynamicActivity"
            android:theme="@style/DynamicTheme" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShareActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.CommentActivity" />
        <activity android:name=".activity.SignatureActivity" />
        <activity android:name=".activity.EditNameActivity" />
        <activity android:name=".activity.HistoryActivity" />
        <activity android:name=".activity.ThumbsActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.FansActivity" />
        <activity android:name=".activity.FollowActivity" />
        <activity
            android:name=".activity.DynamicActivity"
            android:theme="@style/DynamicTheme" />
        <activity android:name=".activity.PersonInfoActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".comment.DefaultUseWithServerActivity" />
        <activity android:name=".comment.CustomUseInLocalActivity" />
        <activity android:name=".comment.DefaultUseInLocalActivity" />
        <activity android:name=".activity.PostPictureActivity" />
        <activity android:name=".activity.PostVideoActivity" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.dacnce.BmobContentProvider" />
    </application>

</manifest>